.home {
	display: flex;
	align-items: stretch;
	flex-direction: column;

	.link__page {
		border-radius: 0.94rem;
		color: $Whitetext;
		background: $BgButtonHover;
		padding: 16px 30px;
		transition: 0.3s all ease-in-out;
		border: 1px solid #21a5b5;
		font-weight: 400;
		font-family: 'Montserrat';

		&:hover {
			cursor: pointer;
		}
		&:active {
			background: $BgButtonClick;
			border: 1px solid #21a5b5;
		}
	}

	.home__bg-wrapper {
		margin-bottom: 80px;
	}

	.models {
		margin-bottom: 110px;
	}

	.comments {
		margin-bottom: 125px;
	}
	
	.review {
		margin-bottom: 110px;
	}
}
