.home {
	display: flex;
	align-items: center;

	.home__bg-wrapper {
		background: url('../DataApi_test/HomeData/img/bg_grad.png');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: calc(100vh - 109px);
		width: 100%;
		display: flex;
		align-items: flex-end;
	}

	.home &__slider {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.swiper-slide {
		display: flex;
		justify-content: center;

		&-content {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1.5rem;

			article {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 1rem;

				h1 {
					font-size: clamp(1rem, 6.5vw, 5.63rem);
					color: $Whitetext;
					font-weight: 450;
					line-height: 7.19rem;
				}
				p {
					color: $Whitetext;
					font-size: clamp(1rem, 1.5vw, 1.63rem);
					font-weight: 400;
					line-height: 140%;
				}
			}
		}

		figure {
			position: relative;

			.dropped__window {
				padding: 2rem;
				position: absolute;
				top: 5rem;
				right: 0;
				border-radius: 1.25rem;
				background: #ffffff;

				&:nth-of-type(2) {
					bottom: 0;
					left: 0;
					width: fit-content;
				}
			}

			img {
				max-height: 535px;
				object-fit: cover;
			}
		}
	}
}
