// ? <variables
$blackPrimary: #2c2c2c;
$blackSecondary: #444444;
$GrayPassive: #848484;
$activeLink: #ffecc8;
$blackNavLink: #2b2a28;
$redPrimary: #f93c00;
$Whitetext: #ffffff;
$bgBody: #ffffff;
// * Filled Buttons
$BgButtonNormal: linear-gradient(90deg, #21a5b5, #71b2b4 100%);
$BgButtonHover: linear-gradient(90deg, #28bfd1, #85cfd1 100%);
$BgButtonClick: linear-gradient(90deg, #21a5b5, #71b2b4 100%);
// * Stroked Buttons
$BrdButtonNormal: linear-gradient(90deg, #21a5b5, #71b2b4 100%);
$BrdButtonClick: linear-gradient(90deg, #21a5b5, #71b2b4 100%);
// * Blured Light
$PinkLight: #f95d95b3;
$OceanLight: #5dcff9b3;
$filterBlur: blur(15.63rem);

// ? />
